<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>scared-sd0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 46}, {122, 77}}</string>
			<key>spriteOffset</key>
			<string>{-7, -12}</string>
			<key>spriteSize</key>
			<string>{122, 77}</string>
			<key>spriteSourceSize</key>
			<string>{146, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 156}, {122, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scared-sd0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 48}, {124, 75}}</string>
			<key>spriteOffset</key>
			<string>{-6, -13}</string>
			<key>spriteSize</key>
			<string>{124, 75}</string>
			<key>spriteSourceSize</key>
			<string>{146, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 79}, {124, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scared-sd0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 49}, {124, 77}}</string>
			<key>spriteOffset</key>
			<string>{-4, -15}</string>
			<key>spriteSize</key>
			<string>{124, 77}</string>
			<key>spriteSourceSize</key>
			<string>{146, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {124, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scared-sd0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 50}, {122, 75}}</string>
			<key>spriteOffset</key>
			<string>{-1, -15}</string>
			<key>spriteSize</key>
			<string>{122, 75}</string>
			<key>spriteSourceSize</key>
			<string>{146, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{124, 190}, {122, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scared-sd0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 49}, {122, 77}}</string>
			<key>spriteOffset</key>
			<string>{-1, -15}</string>
			<key>spriteSize</key>
			<string>{122, 77}</string>
			<key>spriteSourceSize</key>
			<string>{146, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 111}, {122, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scared-sd0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 41}, {114, 83}}</string>
			<key>spriteOffset</key>
			<string>{-4, -10}</string>
			<key>spriteSize</key>
			<string>{114, 83}</string>
			<key>spriteSourceSize</key>
			<string>{146, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{116, 356}, {114, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scared-sd0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 28}, {106, 95}}</string>
			<key>spriteOffset</key>
			<string>{-8, -3}</string>
			<key>spriteSize</key>
			<string>{106, 95}</string>
			<key>spriteSourceSize</key>
			<string>{146, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 415}, {106, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scared-sd0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 22}, {98, 101}}</string>
			<key>spriteOffset</key>
			<string>{-11, -0}</string>
			<key>spriteSize</key>
			<string>{98, 101}</string>
			<key>spriteSourceSize</key>
			<string>{146, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{448, 0}, {98, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scared-sd0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 14}, {100, 109}}</string>
			<key>spriteOffset</key>
			<string>{-9, 4}</string>
			<key>spriteSize</key>
			<string>{100, 109}</string>
			<key>spriteSourceSize</key>
			<string>{146, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{234, 0}, {100, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scared-sd0010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 9}, {100, 113}}</string>
			<key>spriteOffset</key>
			<string>{-8, 7}</string>
			<key>spriteSize</key>
			<string>{100, 113}</string>
			<key>spriteSourceSize</key>
			<string>{146, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{352, 107}, {100, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scared-sd0011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 5}, {100, 115}}</string>
			<key>spriteOffset</key>
			<string>{-8, 10}</string>
			<key>spriteSize</key>
			<string>{100, 115}</string>
			<key>spriteSourceSize</key>
			<string>{146, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 111}, {100, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scared-sd0012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 5}, {106, 109}}</string>
			<key>spriteOffset</key>
			<string>{-7, 13}</string>
			<key>spriteSize</key>
			<string>{106, 109}</string>
			<key>spriteSourceSize</key>
			<string>{146, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 0}, {106, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scared-sd0013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 5}, {110, 105}}</string>
			<key>spriteOffset</key>
			<string>{-6, 15}</string>
			<key>spriteSize</key>
			<string>{110, 105}</string>
			<key>spriteSourceSize</key>
			<string>{146, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{336, 0}, {110, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scared-sd0014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 6}, {110, 99}}</string>
			<key>spriteOffset</key>
			<string>{-5, 17}</string>
			<key>spriteSize</key>
			<string>{110, 99}</string>
			<key>spriteSourceSize</key>
			<string>{146, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{238, 307}, {110, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scared-sd0015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 14}, {114, 93}}</string>
			<key>spriteOffset</key>
			<string>{-6, 12}</string>
			<key>spriteSize</key>
			<string>{114, 93}</string>
			<key>spriteSourceSize</key>
			<string>{146, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 320}, {114, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scared-sd0016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 23}, {116, 87}}</string>
			<key>spriteOffset</key>
			<string>{-8, 6}</string>
			<key>spriteSize</key>
			<string>{116, 87}</string>
			<key>spriteSourceSize</key>
			<string>{146, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{120, 267}, {116, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scared-sd0017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 32}, {118, 83}}</string>
			<key>spriteOffset</key>
			<string>{-10, -1}</string>
			<key>spriteSize</key>
			<string>{118, 83}</string>
			<key>spriteSourceSize</key>
			<string>{146, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 235}, {118, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scared-sd0018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 41}, {118, 77}}</string>
			<key>spriteOffset</key>
			<string>{-7, -7}</string>
			<key>spriteSize</key>
			<string>{118, 77}</string>
			<key>spriteSourceSize</key>
			<string>{146, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{248, 228}, {118, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>scared-sd</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>scared-sd_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>scared-sd_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>