<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>happymask-attack0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {221, 225}}</string>
			<key>spriteOffset</key>
			<string>{3, 1}</string>
			<key>spriteSize</key>
			<string>{221, 225}</string>
			<key>spriteSourceSize</key>
			<string>{247, 247}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1123, 478}, {221, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask-attack0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 26}, {229, 221}}</string>
			<key>spriteOffset</key>
			<string>{5, -13}</string>
			<key>spriteSize</key>
			<string>{229, 221}</string>
			<key>spriteSourceSize</key>
			<string>{247, 247}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{231, 1155}, {229, 221}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask-attack0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 26}, {229, 221}}</string>
			<key>spriteOffset</key>
			<string>{5, -13}</string>
			<key>spriteSize</key>
			<string>{229, 221}</string>
			<key>spriteSourceSize</key>
			<string>{247, 247}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1131, 930}, {229, 221}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask-attack0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 26}, {229, 221}}</string>
			<key>spriteOffset</key>
			<string>{5, -13}</string>
			<key>spriteSize</key>
			<string>{229, 221}</string>
			<key>spriteSourceSize</key>
			<string>{247, 247}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1595}, {229, 221}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask-attack0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 26}, {229, 221}}</string>
			<key>spriteOffset</key>
			<string>{5, -13}</string>
			<key>spriteSize</key>
			<string>{229, 221}</string>
			<key>spriteSourceSize</key>
			<string>{247, 247}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{908, 707}, {229, 221}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask-attack0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 26}, {229, 215}}</string>
			<key>spriteOffset</key>
			<string>{5, -10}</string>
			<key>spriteSize</key>
			<string>{229, 215}</string>
			<key>spriteSourceSize</key>
			<string>{247, 247}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{231, 486}, {229, 215}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask-attack0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 26}, {229, 209}}</string>
			<key>spriteOffset</key>
			<string>{5, -7}</string>
			<key>spriteSize</key>
			<string>{229, 209}</string>
			<key>spriteSourceSize</key>
			<string>{247, 247}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1139, 717}, {229, 209}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask-attack0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 26}, {229, 215}}</string>
			<key>spriteOffset</key>
			<string>{5, -10}</string>
			<key>spriteSize</key>
			<string>{229, 215}</string>
			<key>spriteSourceSize</key>
			<string>{247, 247}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{462, 1189}, {229, 215}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask-attack0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 26}, {229, 221}}</string>
			<key>spriteOffset</key>
			<string>{5, -13}</string>
			<key>spriteSize</key>
			<string>{229, 221}</string>
			<key>spriteSourceSize</key>
			<string>{247, 247}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1372}, {229, 221}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask-attack0010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 26}, {229, 221}}</string>
			<key>spriteOffset</key>
			<string>{5, -13}</string>
			<key>spriteSize</key>
			<string>{229, 221}</string>
			<key>spriteSourceSize</key>
			<string>{247, 247}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{462, 966}, {229, 221}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask-attack0011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {221, 237}}</string>
			<key>spriteOffset</key>
			<string>{3, -5}</string>
			<key>spriteSize</key>
			<string>{221, 237}</string>
			<key>spriteSourceSize</key>
			<string>{247, 247}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{685, 707}, {221, 237}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask-attack0012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {221, 231}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{221, 231}</string>
			<key>spriteSourceSize</key>
			<string>{247, 247}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1131, 1153}, {221, 231}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask-attack0013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {221, 225}}</string>
			<key>spriteOffset</key>
			<string>{3, 1}</string>
			<key>spriteSize</key>
			<string>{221, 225}</string>
			<key>spriteSourceSize</key>
			<string>{247, 247}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1784, 0}, {221, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask-attack0014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {221, 231}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{221, 231}</string>
			<key>spriteSourceSize</key>
			<string>{247, 247}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1354, 1153}, {221, 231}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask-attack0015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {221, 237}}</string>
			<key>spriteOffset</key>
			<string>{3, -5}</string>
			<key>spriteSize</key>
			<string>{221, 237}</string>
			<key>spriteSourceSize</key>
			<string>{247, 247}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1338, 0}, {221, 237}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask-attack0016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {221, 237}}</string>
			<key>spriteOffset</key>
			<string>{3, -5}</string>
			<key>spriteSize</key>
			<string>{221, 237}</string>
			<key>spriteSourceSize</key>
			<string>{247, 247}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1115, 0}, {221, 237}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask-attack0017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {221, 237}}</string>
			<key>spriteOffset</key>
			<string>{3, -5}</string>
			<key>spriteSize</key>
			<string>{221, 237}</string>
			<key>spriteSourceSize</key>
			<string>{247, 247}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1346, 239}, {221, 237}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask-attack0018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {221, 231}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{221, 231}</string>
			<key>spriteSourceSize</key>
			<string>{247, 247}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{693, 1169}, {221, 231}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask-attack0019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {221, 225}}</string>
			<key>spriteOffset</key>
			<string>{3, 1}</string>
			<key>spriteSize</key>
			<string>{221, 225}</string>
			<key>spriteSourceSize</key>
			<string>{247, 247}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1569, 472}, {221, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask-attack0020.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {221, 231}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{221, 231}</string>
			<key>spriteSourceSize</key>
			<string>{247, 247}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1569, 239}, {221, 231}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask-attack0021.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {221, 237}}</string>
			<key>spriteOffset</key>
			<string>{3, -5}</string>
			<key>spriteSize</key>
			<string>{221, 237}</string>
			<key>spriteSourceSize</key>
			<string>{247, 247}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{900, 241}, {221, 237}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask-attack0022.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {221, 237}}</string>
			<key>spriteOffset</key>
			<string>{3, -5}</string>
			<key>spriteSize</key>
			<string>{221, 237}</string>
			<key>spriteSourceSize</key>
			<string>{247, 247}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1346, 478}, {221, 237}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask-attack0023.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {221, 237}}</string>
			<key>spriteOffset</key>
			<string>{3, -5}</string>
			<key>spriteSize</key>
			<string>{221, 237}</string>
			<key>spriteSourceSize</key>
			<string>{247, 247}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{908, 930}, {221, 237}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask-attack0024.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {221, 237}}</string>
			<key>spriteOffset</key>
			<string>{3, -5}</string>
			<key>spriteSize</key>
			<string>{221, 237}</string>
			<key>spriteSourceSize</key>
			<string>{247, 247}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1123, 239}, {221, 237}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {221, 237}}</string>
			<key>spriteOffset</key>
			<string>{3, -3}</string>
			<key>spriteSize</key>
			<string>{221, 237}</string>
			<key>spriteSourceSize</key>
			<string>{247, 251}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1561, 0}, {221, 237}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 26}, {229, 221}}</string>
			<key>spriteOffset</key>
			<string>{5, -11}</string>
			<key>spriteSize</key>
			<string>{229, 221}</string>
			<key>spriteSourceSize</key>
			<string>{247, 251}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{231, 1378}, {229, 221}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 26}, {229, 221}}</string>
			<key>spriteOffset</key>
			<string>{5, -11}</string>
			<key>spriteSize</key>
			<string>{229, 221}</string>
			<key>spriteSourceSize</key>
			<string>{247, 251}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1149}, {229, 221}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 26}, {229, 223}}</string>
			<key>spriteOffset</key>
			<string>{5, -12}</string>
			<key>spriteSize</key>
			<string>{229, 223}</string>
			<key>spriteSourceSize</key>
			<string>{247, 251}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{231, 930}, {229, 223}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 26}, {229, 223}}</string>
			<key>spriteOffset</key>
			<string>{5, -12}</string>
			<key>spriteSize</key>
			<string>{229, 223}</string>
			<key>spriteSourceSize</key>
			<string>{247, 251}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{685, 482}, {229, 223}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 26}, {229, 223}}</string>
			<key>spriteOffset</key>
			<string>{5, -12}</string>
			<key>spriteSize</key>
			<string>{229, 223}</string>
			<key>spriteSourceSize</key>
			<string>{247, 251}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 924}, {229, 223}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 26}, {229, 225}}</string>
			<key>spriteOffset</key>
			<string>{5, -13}</string>
			<key>spriteSize</key>
			<string>{229, 225}</string>
			<key>spriteSourceSize</key>
			<string>{247, 251}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 470}, {229, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 26}, {229, 225}}</string>
			<key>spriteOffset</key>
			<string>{5, -13}</string>
			<key>spriteSize</key>
			<string>{229, 225}</string>
			<key>spriteSourceSize</key>
			<string>{247, 251}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 243}, {229, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 26}, {229, 225}}</string>
			<key>spriteOffset</key>
			<string>{5, -13}</string>
			<key>spriteSize</key>
			<string>{229, 225}</string>
			<key>spriteSourceSize</key>
			<string>{247, 251}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 697}, {229, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 26}, {229, 225}}</string>
			<key>spriteOffset</key>
			<string>{5, -13}</string>
			<key>spriteSize</key>
			<string>{229, 225}</string>
			<key>spriteSourceSize</key>
			<string>{247, 251}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{231, 703}, {229, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {221, 241}}</string>
			<key>spriteOffset</key>
			<string>{3, -5}</string>
			<key>spriteSize</key>
			<string>{221, 241}</string>
			<key>spriteSourceSize</key>
			<string>{247, 251}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{223, 0}, {221, 241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {221, 241}}</string>
			<key>spriteOffset</key>
			<string>{3, -5}</string>
			<key>spriteSize</key>
			<string>{221, 241}</string>
			<key>spriteSourceSize</key>
			<string>{247, 251}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{231, 243}, {221, 241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {221, 241}}</string>
			<key>spriteOffset</key>
			<string>{3, -5}</string>
			<key>spriteSize</key>
			<string>{221, 241}</string>
			<key>spriteSourceSize</key>
			<string>{247, 251}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{446, 0}, {221, 241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {221, 241}}</string>
			<key>spriteOffset</key>
			<string>{3, -5}</string>
			<key>spriteSize</key>
			<string>{221, 241}</string>
			<key>spriteSourceSize</key>
			<string>{247, 251}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{454, 243}, {221, 241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {221, 241}}</string>
			<key>spriteOffset</key>
			<string>{3, -5}</string>
			<key>spriteSize</key>
			<string>{221, 241}</string>
			<key>spriteSourceSize</key>
			<string>{247, 251}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {221, 241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {221, 239}}</string>
			<key>spriteOffset</key>
			<string>{3, -4}</string>
			<key>spriteSize</key>
			<string>{221, 239}</string>
			<key>spriteSourceSize</key>
			<string>{247, 251}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{669, 0}, {221, 239}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {221, 239}}</string>
			<key>spriteOffset</key>
			<string>{3, -4}</string>
			<key>spriteSize</key>
			<string>{221, 239}</string>
			<key>spriteSourceSize</key>
			<string>{247, 251}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{462, 486}, {221, 239}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {221, 239}}</string>
			<key>spriteOffset</key>
			<string>{3, -4}</string>
			<key>spriteSize</key>
			<string>{221, 239}</string>
			<key>spriteSourceSize</key>
			<string>{247, 251}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{892, 0}, {221, 239}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {221, 239}}</string>
			<key>spriteOffset</key>
			<string>{3, -4}</string>
			<key>spriteSize</key>
			<string>{221, 239}</string>
			<key>spriteSourceSize</key>
			<string>{247, 251}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{677, 241}, {221, 239}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0020.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {221, 237}}</string>
			<key>spriteOffset</key>
			<string>{3, -3}</string>
			<key>spriteSize</key>
			<string>{221, 237}</string>
			<key>spriteSourceSize</key>
			<string>{247, 251}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{462, 727}, {221, 237}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>happymask-xd</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>happymask-xd_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>happymask-xd_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>