<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>scaredmask-attack0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 20}, {83, 46}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{83, 46}</string>
			<key>spriteSourceSize</key>
			<string>{85, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{609, 192}, {83, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask-attack0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 20}, {83, 46}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{83, 46}</string>
			<key>spriteSourceSize</key>
			<string>{85, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{602, 144}, {83, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask-attack0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 19}, {83, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{83, 50}</string>
			<key>spriteSourceSize</key>
			<string>{85, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{199, 116}, {83, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask-attack0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 19}, {81, 52}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{81, 52}</string>
			<key>spriteSourceSize</key>
			<string>{85, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{253, 404}, {81, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask-attack0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 16}, {79, 58}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{79, 58}</string>
			<key>spriteSourceSize</key>
			<string>{85, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{47, 370}, {79, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask-attack0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 11}, {77, 64}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{77, 64}</string>
			<key>spriteSourceSize</key>
			<string>{85, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{47, 304}, {77, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask-attack0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {75, 72}}</string>
			<key>spriteOffset</key>
			<string>{-1, 3}</string>
			<key>spriteSize</key>
			<string>{75, 72}</string>
			<key>spriteSourceSize</key>
			<string>{85, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{43, 160}, {75, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask-attack0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {75, 78}}</string>
			<key>spriteOffset</key>
			<string>{-1, 4}</string>
			<key>spriteSize</key>
			<string>{75, 78}</string>
			<key>spriteSourceSize</key>
			<string>{85, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{43, 0}, {75, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask-attack0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 20}, {65, 56}}</string>
			<key>spriteOffset</key>
			<string>{2, -3}</string>
			<key>spriteSize</key>
			<string>{65, 56}</string>
			<key>spriteSourceSize</key>
			<string>{85, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{169, 0}, {65, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask-attack0010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 15}, {55, 58}}</string>
			<key>spriteOffset</key>
			<string>{6, 1}</string>
			<key>spriteSize</key>
			<string>{55, 58}</string>
			<key>spriteSourceSize</key>
			<string>{85, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{47, 430}, {55, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask-attack0011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 4}, {45, 80}}</string>
			<key>spriteOffset</key>
			<string>{9, 1}</string>
			<key>spriteSize</key>
			<string>{45, 80}</string>
			<key>spriteSourceSize</key>
			<string>{85, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 426}, {45, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask-attack0012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 2}, {41, 82}}</string>
			<key>spriteOffset</key>
			<string>{10, 2}</string>
			<key>spriteSize</key>
			<string>{41, 82}</string>
			<key>spriteSourceSize</key>
			<string>{85, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 176}, {41, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask-attack0013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 1}, {41, 86}}</string>
			<key>spriteOffset</key>
			<string>{10, 1}</string>
			<key>spriteSize</key>
			<string>{41, 86}</string>
			<key>spriteSourceSize</key>
			<string>{85, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {41, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask-attack0014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 20}, {45, 56}}</string>
			<key>spriteOffset</key>
			<string>{4, -3}</string>
			<key>spriteSize</key>
			<string>{45, 56}</string>
			<key>spriteSourceSize</key>
			<string>{85, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{128, 352}, {45, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask-attack0015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 20}, {47, 58}}</string>
			<key>spriteOffset</key>
			<string>{-3, -4}</string>
			<key>spriteSize</key>
			<string>{47, 58}</string>
			<key>spriteSourceSize</key>
			<string>{85, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{120, 60}, {47, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask-attack0016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 20}, {55, 56}}</string>
			<key>spriteOffset</key>
			<string>{-2, -3}</string>
			<key>spriteSize</key>
			<string>{55, 56}</string>
			<key>spriteSourceSize</key>
			<string>{85, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{120, 178}, {55, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask-attack0017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 21}, {63, 50}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{63, 50}</string>
			<key>spriteSourceSize</key>
			<string>{85, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{267, 282}, {63, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask-attack0018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 21}, {71, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{71, 48}</string>
			<key>spriteSourceSize</key>
			<string>{85, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{236, 50}, {71, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask-attack0019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 19}, {79, 50}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{79, 50}</string>
			<key>spriteSourceSize</key>
			<string>{85, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{263, 168}, {79, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask-attack0020.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 20}, {77, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{77, 48}</string>
			<key>spriteSourceSize</key>
			<string>{85, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{514, 370}, {77, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask-attack0021.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 16}, {77, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{77, 56}</string>
			<key>spriteSourceSize</key>
			<string>{85, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{120, 120}, {77, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask-attack0022.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 9}, {75, 68}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{75, 68}</string>
			<key>spriteSourceSize</key>
			<string>{85, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{43, 234}, {75, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask-attack0023.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {75, 78}}</string>
			<key>spriteOffset</key>
			<string>{-1, 4}</string>
			<key>spriteSize</key>
			<string>{75, 78}</string>
			<key>spriteSourceSize</key>
			<string>{85, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{43, 80}, {75, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask-attack0024.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 20}, {65, 56}}</string>
			<key>spriteOffset</key>
			<string>{2, -3}</string>
			<key>spriteSize</key>
			<string>{65, 56}</string>
			<key>spriteSourceSize</key>
			<string>{85, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{169, 58}, {65, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask-attack0025.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 15}, {55, 58}}</string>
			<key>spriteOffset</key>
			<string>{6, 1}</string>
			<key>spriteSize</key>
			<string>{55, 58}</string>
			<key>spriteSourceSize</key>
			<string>{85, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{104, 430}, {55, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask-attack0026.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 4}, {45, 80}}</string>
			<key>spriteOffset</key>
			<string>{9, 1}</string>
			<key>spriteSize</key>
			<string>{45, 80}</string>
			<key>spriteSourceSize</key>
			<string>{85, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 344}, {45, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask-attack0027.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 2}, {41, 82}}</string>
			<key>spriteOffset</key>
			<string>{10, 2}</string>
			<key>spriteSize</key>
			<string>{41, 82}</string>
			<key>spriteSourceSize</key>
			<string>{85, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 260}, {41, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask-attack0028.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 1}, {41, 86}}</string>
			<key>spriteOffset</key>
			<string>{10, 1}</string>
			<key>spriteSize</key>
			<string>{41, 86}</string>
			<key>spriteSourceSize</key>
			<string>{85, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 88}, {41, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask-attack0029.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 20}, {45, 56}}</string>
			<key>spriteOffset</key>
			<string>{4, -3}</string>
			<key>spriteSize</key>
			<string>{45, 56}</string>
			<key>spriteSourceSize</key>
			<string>{85, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 294}, {45, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask-attack0030.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 20}, {47, 58}}</string>
			<key>spriteOffset</key>
			<string>{-3, -4}</string>
			<key>spriteSize</key>
			<string>{47, 58}</string>
			<key>spriteSourceSize</key>
			<string>{85, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{120, 0}, {47, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask-attack0031.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 20}, {55, 56}}</string>
			<key>spriteOffset</key>
			<string>{-2, -3}</string>
			<key>spriteSize</key>
			<string>{55, 56}</string>
			<key>spriteSourceSize</key>
			<string>{85, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{120, 236}, {55, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask-attack0032.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 21}, {63, 50}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{63, 50}</string>
			<key>spriteSourceSize</key>
			<string>{85, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{332, 282}, {63, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask-attack0033.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 21}, {71, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{71, 48}</string>
			<key>spriteSourceSize</key>
			<string>{85, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{236, 0}, {71, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask-attack0034.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 19}, {79, 50}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{79, 50}</string>
			<key>spriteSourceSize</key>
			<string>{85, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{260, 230}, {79, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask-attack0035.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 19}, {81, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{81, 50}</string>
			<key>spriteSourceSize</key>
			<string>{85, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{177, 230}, {81, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 4}, {84, 46}}</string>
			<key>spriteOffset</key>
			<string>{-1, 4}</string>
			<key>spriteSize</key>
			<string>{84, 46}</string>
			<key>spriteSourceSize</key>
			<string>{108, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{523, 192}, {84, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {84, 46}}</string>
			<key>spriteOffset</key>
			<string>{-1, 5}</string>
			<key>spriteSize</key>
			<string>{84, 46}</string>
			<key>spriteSourceSize</key>
			<string>{108, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{571, 240}, {84, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 1}, {84, 48}}</string>
			<key>spriteOffset</key>
			<string>{-1, 6}</string>
			<key>spriteSize</key>
			<string>{84, 48}</string>
			<key>spriteSourceSize</key>
			<string>{108, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{513, 434}, {84, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {84, 46}}</string>
			<key>spriteOffset</key>
			<string>{-1, 5}</string>
			<key>spriteSize</key>
			<string>{84, 46}</string>
			<key>spriteSourceSize</key>
			<string>{108, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{485, 240}, {84, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {84, 46}}</string>
			<key>spriteOffset</key>
			<string>{-1, 5}</string>
			<key>spriteSize</key>
			<string>{84, 46}</string>
			<key>spriteSourceSize</key>
			<string>{108, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{481, 0}, {84, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {84, 46}}</string>
			<key>spriteOffset</key>
			<string>{-1, 5}</string>
			<key>spriteSize</key>
			<string>{84, 46}</string>
			<key>spriteSourceSize</key>
			<string>{108, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{430, 144}, {84, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 4}, {84, 46}}</string>
			<key>spriteOffset</key>
			<string>{-1, 4}</string>
			<key>spriteSize</key>
			<string>{84, 46}</string>
			<key>spriteSourceSize</key>
			<string>{108, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{456, 96}, {84, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 4}, {84, 46}}</string>
			<key>spriteOffset</key>
			<string>{-1, 4}</string>
			<key>spriteSize</key>
			<string>{84, 46}</string>
			<key>spriteSourceSize</key>
			<string>{108, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{344, 148}, {84, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 4}, {84, 46}}</string>
			<key>spriteOffset</key>
			<string>{-1, 4}</string>
			<key>spriteSize</key>
			<string>{84, 46}</string>
			<key>spriteSourceSize</key>
			<string>{108, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{370, 96}, {84, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask0010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 4}, {84, 46}}</string>
			<key>spriteOffset</key>
			<string>{-1, 4}</string>
			<key>spriteSize</key>
			<string>{84, 46}</string>
			<key>spriteSourceSize</key>
			<string>{108, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{284, 100}, {84, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask0011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 4}, {82, 46}}</string>
			<key>spriteOffset</key>
			<string>{-2, 4}</string>
			<key>spriteSize</key>
			<string>{82, 46}</string>
			<key>spriteSourceSize</key>
			<string>{108, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{567, 0}, {82, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask0012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 5}, {82, 44}}</string>
			<key>spriteOffset</key>
			<string>{-2, 4}</string>
			<key>spriteSize</key>
			<string>{82, 44}</string>
			<key>spriteSourceSize</key>
			<string>{108, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{657, 46}, {82, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask0013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 5}, {82, 44}}</string>
			<key>spriteOffset</key>
			<string>{-2, 4}</string>
			<key>spriteSize</key>
			<string>{82, 44}</string>
			<key>spriteSourceSize</key>
			<string>{108, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{737, 0}, {82, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask0014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 5}, {88, 44}}</string>
			<key>spriteOffset</key>
			<string>{1, 4}</string>
			<key>spriteSize</key>
			<string>{88, 44}</string>
			<key>spriteSourceSize</key>
			<string>{108, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{567, 48}, {88, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask0015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 5}, {94, 48}}</string>
			<key>spriteOffset</key>
			<string>{4, 2}</string>
			<key>spriteSize</key>
			<string>{94, 48}</string>
			<key>spriteSourceSize</key>
			<string>{108, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{341, 220}, {94, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask0016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {92, 50}}</string>
			<key>spriteOffset</key>
			<string>{3, 3}</string>
			<key>spriteSize</key>
			<string>{92, 50}</string>
			<key>spriteSourceSize</key>
			<string>{108, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{265, 350}, {92, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask0017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 2}, {88, 50}}</string>
			<key>spriteOffset</key>
			<string>{2, 4}</string>
			<key>spriteSize</key>
			<string>{88, 50}</string>
			<key>spriteSourceSize</key>
			<string>{108, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{337, 454}, {88, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask0018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 4}, {86, 48}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{86, 48}</string>
			<key>spriteSourceSize</key>
			<string>{108, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{426, 384}, {86, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask0019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 3}, {86, 48}}</string>
			<key>spriteOffset</key>
			<string>{1, 4}</string>
			<key>spriteSize</key>
			<string>{86, 48}</string>
			<key>spriteSourceSize</key>
			<string>{108, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{397, 270}, {86, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask0020.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 3}, {88, 48}}</string>
			<key>spriteOffset</key>
			<string>{-2, 4}</string>
			<key>spriteSize</key>
			<string>{88, 48}</string>
			<key>spriteSourceSize</key>
			<string>{108, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{359, 334}, {88, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask0021.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {92, 54}}</string>
			<key>spriteOffset</key>
			<string>{-4, -0}</string>
			<key>spriteSize</key>
			<string>{92, 54}</string>
			<key>spriteSourceSize</key>
			<string>{108, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{173, 294}, {92, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask0022.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {90, 54}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{90, 54}</string>
			<key>spriteSourceSize</key>
			<string>{108, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{161, 410}, {90, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask0023.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {88, 52}}</string>
			<key>spriteOffset</key>
			<string>{-2, 3}</string>
			<key>spriteSize</key>
			<string>{88, 52}</string>
			<key>spriteSourceSize</key>
			<string>{108, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{175, 350}, {88, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask0024.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 4}, {86, 46}}</string>
			<key>spriteOffset</key>
			<string>{-2, 4}</string>
			<key>spriteSize</key>
			<string>{86, 46}</string>
			<key>spriteSourceSize</key>
			<string>{108, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{249, 466}, {86, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask0025.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 3}, {86, 48}}</string>
			<key>spriteOffset</key>
			<string>{-1, 4}</string>
			<key>spriteSize</key>
			<string>{86, 48}</string>
			<key>spriteSourceSize</key>
			<string>{108, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{449, 320}, {86, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask0026.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {84, 46}}</string>
			<key>spriteOffset</key>
			<string>{-1, 5}</string>
			<key>spriteSize</key>
			<string>{84, 46}</string>
			<key>spriteSourceSize</key>
			<string>{108, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{309, 0}, {84, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask0027.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 4}, {84, 46}}</string>
			<key>spriteOffset</key>
			<string>{-1, 4}</string>
			<key>spriteSize</key>
			<string>{84, 46}</string>
			<key>spriteSourceSize</key>
			<string>{108, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{537, 288}, {84, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask0028.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {84, 46}}</string>
			<key>spriteOffset</key>
			<string>{-1, 5}</string>
			<key>spriteSize</key>
			<string>{84, 46}</string>
			<key>spriteSourceSize</key>
			<string>{108, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{437, 192}, {84, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask0029.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 0}, {88, 50}}</string>
			<key>spriteOffset</key>
			<string>{1, 6}</string>
			<key>spriteSize</key>
			<string>{88, 50}</string>
			<key>spriteSourceSize</key>
			<string>{108, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{336, 402}, {88, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask0030.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 4}, {86, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, 4}</string>
			<key>spriteSize</key>
			<string>{86, 46}</string>
			<key>spriteSourceSize</key>
			<string>{108, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{161, 466}, {86, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask0031.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {84, 46}}</string>
			<key>spriteOffset</key>
			<string>{-1, 5}</string>
			<key>spriteSize</key>
			<string>{84, 46}</string>
			<key>spriteSourceSize</key>
			<string>{108, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{542, 96}, {84, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask0032.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {84, 46}}</string>
			<key>spriteOffset</key>
			<string>{-1, 5}</string>
			<key>spriteSize</key>
			<string>{84, 46}</string>
			<key>spriteSourceSize</key>
			<string>{108, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{309, 48}, {84, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask0033.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {84, 46}}</string>
			<key>spriteOffset</key>
			<string>{-1, 5}</string>
			<key>spriteSize</key>
			<string>{84, 46}</string>
			<key>spriteSourceSize</key>
			<string>{108, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{395, 48}, {84, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask0034.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 1}, {84, 48}}</string>
			<key>spriteOffset</key>
			<string>{-1, 6}</string>
			<key>spriteSize</key>
			<string>{84, 48}</string>
			<key>spriteSourceSize</key>
			<string>{108, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{427, 434}, {84, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask0035.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 5}, {84, 44}}</string>
			<key>spriteOffset</key>
			<string>{-1, 4}</string>
			<key>spriteSize</key>
			<string>{84, 44}</string>
			<key>spriteSourceSize</key>
			<string>{108, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{628, 94}, {84, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask0036.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {84, 46}}</string>
			<key>spriteOffset</key>
			<string>{-1, 5}</string>
			<key>spriteSize</key>
			<string>{84, 46}</string>
			<key>spriteSourceSize</key>
			<string>{108, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{395, 0}, {84, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask0037.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {84, 46}}</string>
			<key>spriteOffset</key>
			<string>{-1, 5}</string>
			<key>spriteSize</key>
			<string>{84, 46}</string>
			<key>spriteSourceSize</key>
			<string>{108, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{481, 48}, {84, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask0038.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 5}, {84, 44}}</string>
			<key>spriteOffset</key>
			<string>{-1, 4}</string>
			<key>spriteSize</key>
			<string>{84, 44}</string>
			<key>spriteSourceSize</key>
			<string>{108, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{651, 0}, {84, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask0039.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {84, 46}}</string>
			<key>spriteOffset</key>
			<string>{-1, 5}</string>
			<key>spriteSize</key>
			<string>{84, 46}</string>
			<key>spriteSourceSize</key>
			<string>{108, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{516, 144}, {84, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scaredmask0040.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 0}, {84, 50}}</string>
			<key>spriteOffset</key>
			<string>{-1, 6}</string>
			<key>spriteSize</key>
			<string>{84, 50}</string>
			<key>spriteSourceSize</key>
			<string>{108, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{177, 178}, {84, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>scaredmask</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>scaredmask_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>scaredmask_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>